<div class="navbar">
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo"><i class="material-icons">directions_bike</i>SPOT DASH</a>
        <a href="/main" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="menu1" class="right hide-on-med-and-down">
        <li><a class="menu2" href="/"><i class="material-icons">account_circle</i></a></li>
        <li><a class="menu2" href="/">Menu</a></li>
        <li><a class="menu2" href="/">Menu2</a></li>
        </ul>
      </div>
    </nav>
</div>

<ul class="sidenav" id="mobile-demo">
  <li><a class="menu2" href="/"><i class="material-icons">account_circle</i></a></li>
  <li><a class="menu2" href="/">Menu</a></li>
  <li><a class="menu2" href="/">Menu2</a></li>
</ul>

  


