<div class="se-pre-con"></div>

<div class='row center'>
    <div class='carouseltop col s12 m12 l12'>
        <div class="carousel carousel-slider center z-depth-5" data-indicators='true'>
            <div class="carousel-fixed-item center">
                    <div class="mobilefriendlytext">SPOT DASH</div>
                <p class='flow-text white-text'>Hackathon!</p>
            </div>
                <a class="carousel-item" href="#one!">
                    <img class='responsive-img' src="/img/stock/1.jpg"></a>
                <a class="carousel-item" href="#two!">
                    <img class='responsive-img' src="/img/stock/2.jpg"></a>
                <a class="carousel-item" href="#three!">
                    <img class='responsive-img' src="/img/stock/3.jpeg"></a>
                <a class="carousel-item" href="#four!">
                    <img class='responsive-img' src="/img/stock/4.jpg"></a>
                </div>
            </div>
        </div>
        <hr>
        <br>
        <div class='row center'> 
            <div class="col s12">
            <div class="mobilefriendlytext"><a>Lorizzle ipsum shizznit sit amet, consectetizzle adipiscing phat. Nullam sapizzle velizzle, aliquet volutpizzle, suscipizzle quis, dang vizzle, arcu. Pellentesque eget nizzle. Sed erizzle. Tellivizzle phat dolor dapibus turpis crazy. Maurizzle pellentesque nibh fo shizzle my nizzle pot. Dope izzle tortor.</a></div>
            </div>
            </div>
            <div class='row center'> 
            <div class="col s12">
                    <a href="/main" class="btn large waves-effect waves-teal">Enter Site</a>
                </div>
            </div>


