<div class="se-pre-con"></div>






<div class="row center">
 <div class="col s6">
    <div class="mobilefriendlytext"><span><a href='/news'>List</a></span></div>
</div>
<div class="col s6">
    <div class="mobilefriendlytext"><span><a href='/top10'>Map</a></span></div>
</div>
</div>
<hr>










